<div class="content-wrap" ng-controller="HomeController">
   
    <div class="signin">
      <a href="#/signin"><button type="button" class="btn btn-default btn-lg">Sign In</button></a>
                    
    </div>
             
    <div class="signup">
         <a href="#/signup"><button type="button" class="btn btn-default btn-lg">Sign Up</button></a>
    </div>

</div>
<div class="row"  ng-controller="HomeController">
    <div class="login">

      <div class="col-lg-12" >
       <div class="panel panel-info">
            <div class="panel-heading">
                <strong>Sign In</strong>
            </div>

            <div class="panel-body">
              <div ng-show="errMessage" class="alert alert-danger">
               <strong>{{errMessage}}</strong>
              </div>
  
                <form class="form-horizontal" role="form" ng-submit="signIn()">
                    <div class="form-group">
                        
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="username" placeholder="Username" ng-model="username">
                        </div>
                    </div>
                    <div class="form-group">
                        
                        <div class="col-sm-12">
                            <input type="password" class="form-control" id="password" placeholder="Password" ng-model="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-8">
                            <button type="submit" class="btn btn-default">Sign in</button>
                        </div>
                    </div>
                </form>
            
            </div>
        </div>
    </div>
    </div>

</div>